body {
	background: url(Imagenes/FondoF2.jpg);
	background-repeat: repeat-y;
	background-attachment: scroll;
}

div.caja_padre {
	font-family: "verdana";
    background: white;
    position: relative;
	width: 60%;
	margin: 20px 9%;
	padding-top: 1%;
	padding-left: 3.5%;
	padding-right: 3.5%;
	padding-bottom: 1.5%;
	border: 2px solid black;

}

section.main div.imagen {
	background: black;
	padding: 2.5%;
	color:white;
}

article.caja {
	background: white;
	position: absolute;
	top: -22px;
	bottom:80%;
	right: 0; 
	left: 95%;
	width: 22%;
	margin: 20px 9%;
	padding-top: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 1.5%;
	border: 2px solid black;
}

.Cod {
	float: left;
	margin: 5%;
}

div.head {
	background: url(Imagenes/header2.jpg);
	border-radius: 25px;
	box-shadow: 3px 3px 3px #000;
	position: relative;
	width: 92%;
	color:white;
	background-size: cover;
	padding: 4%;
	font-size: 110%;
}

.Logotipo {
	width: 5%;
}

.enlaces {
	background: url(Imagenes/Menubar2.png);
	margin: 7px 0px;
	height: 40px;
	width: 89.5%;
	border: 5px solid #000000;
	border-radius: 20px;
	padding-left: 5%;
	padding-right: 5%;
}

.menu {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	display: inline-block;
}

.menu li a {
	padding: 10px 30px;
	display: inline-block;
	text-decoration: none;
	font-size: 16.4px;
	font-family: "verdana";
	font-weight: bold;
	color: white;
	box-shadow: 0px 5px 0px #000000;

}

.menu li a:hover {
	background:white;
	color:red;
	box-shadow: 0px 2px 0px #000000;
}

.menu li a:link {
	color: white;
}

.menu li a:active {
	background: black;
	color: red;
}

table {
	border: 1px solid #000000;
	border-collapse: separate;
	font-weight: bold;
	font-family: arial;
}

table td {
	border:1px solid #000000;
}

form {
	width: 22%;
	background:white;
	border: 2px solid #000000;
	margin: 20px 9%;
	padding: 3%;
}

form label {
	font-weight: bold;
	font-family: "verdana";
	color: solid #000000;
	font-size: 90%;
	width: 100%;
}

input {

}

.caja1 {
	background: white;
	position: absolute;
	top: 470px;
	bottom:64%;
	right: 0; 
	left: 95%;
	width: 22%;
	margin: 5% 9%;
	padding-top: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 1.5%;
	border: 2px solid black;
}

form.caja_1 {
	border: 0px solid black;
}

textarea, .enviar {
	width: 387%;
}

.caja3 {
	position: absolute;
	background: white;
	top: 860px;
	bottom: 0%;
	right: 0; 
	left: 95%;
	width: 22%;
	margin: 10% 9%;
	padding-top: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 1.5%;
	border: 2px solid black;
}