<applet code=JVMine.class  width=450 height=300 ID="JMine" NAME="JMine">
	<param name=cabbase 	value="./cab/jvmine.cab">
	<param name=bImg 	value="./img/j">
	<param name=bgcolor	value=12632256>
	<param name=_nbmine 	value=10>
	<param name=_nbcol  	value=8>
	<param name=_nbligne	value=8>
	<param name=fontsize	value=16>
</applet>

